{% extends 'layout.html' %}

{% block content %}

<section class="content index-content" >
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form action="{{url_for('index')}}" method="post">
					<input type="text" name="title" placeholder="Title"  class="form-control">
					<br>
					<textarea type="text" name="note" placeholder="Put your note here!" rows="5" class="form-control"></textarea>
					<br>
					<button  class="btn btn-primary btn-note">Add Note</button>
				</form>
			</div>

			<div class="col-md-5 offset-md-1">
				{% for title in notes %}
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">{{title}}</h5>
				    <h6 class="card-subtitle mb-2 text-muted">{{notes[title]["date"]}}</h6>
				    <p class="card-text">{{notes[title]["note"]}}</p>
				    <br>
				  </div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>

{% endblock %}